
@{
    ViewBag.Title = "InventoryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>InventoryReport</h2>
    <br />
    <h4>New Vehicles</h4>
    <br />
    <div id="newVehicles">

    </div>
    <br />
    <h4>Used Vehicles</h4>
    <br />
    <div id="usedVehicles">

    </div>
</div>
