
<div class="col-md-12 newVehiclebox">
    <div class="col-md-3" id="ImageDiv">
        <img src="~/Content/Cars/2010ChevyCamaro.jpg" style="height:150px; width:auto; padding-top:7%;" />
    </div>
    <div class="col-md-3" style="text-align:center; padding-top:2%">
        <div>
            <span><label style="padding-right:2%">Body Style:</label><label id="bodystyle">SUV</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">Trans:</label><label id="trans">Manual</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">Color:</label><label id="color">Blue</label></span>
        </div>
    </div>
    <div class="col-md-3" style="text-align:center; padding-top:2%">
        <div>
            <span><label style="padding-right:2%">Interior:</label><label id="interior">Leather</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">Mileage:</label><label id="mileage">58,000</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">VIN #:</label><label id="vin#">1HGCM82633A004352</label></span>
        </div>
    </div>
    <div class="col-md-3" style="text-align:center; padding-top:2%">
        <div>
            <span><label>Sale Price:</label><label id="SalePrice">$20,000</label></span>
        </div>
        <br />
        <div>
            <span><label>MSRP:</label><label id="msrp">$23,000</label></span>
        </div>
        <br />
        <div><button class="btn btn-sm" style="color:black; border: 2px solid black; width:45%;">Details</button></div>
    </div>
</div>

