
<div class="container">
    <h2>Vehicle Details</h2>
    <br />
    <div class="col-md-12 newVehiclebox">
        <div class="row">
            <div class="col-md-3 text-center" id="ImageDiv">
                <div style="padding-top:2%">
                    <label id="year" style="padding-right:2%">2010</label><label id="make" style="padding-right:2%">Chevrolet</label><label id="model">Camaro</label>
                </div>
                <img src="~/Content/Cars/2010ChevyCamaro.jpg" style="height:170px; width:auto; padding-top:2%;" />
            </div>
            <div class="col-md-3" style="text-align:center; padding-top:2%">
                <div>
                    <span><label style="padding-right:2%">Body Style:</label><label id="bodystyle">SUV</label></span>
                </div>
                <br />
                <br />
                <div>
                    <span><label style="padding-right:2%">Trans:</label><label id="trans">Manual</label></span>
                </div>
                <br />
                <br />
                <div>
                    <span><label style="padding-right:2%">Color:</label><label id="color">Blue</label></span>
                </div>
            </div>
            <div class="col-md-3" style="text-align:center; padding-top:2%">
                <div>
                    <span><label style="padding-right:2%">Interior:</label><label id="interior">Leather</label></span>
                </div>
                <br />
                <br />
                <div>
                    <span><label style="padding-right:2%">Mileage:</label><label id="mileage">New</label></span>
                </div>
                <br />
                <br />
                <div>
                    <span><label style="padding-right:2%">VIN #:</label><label id="vin#">1HGCM82633A004352</label></span>
                </div>
            </div>
            <div class="col-md-3" style="text-align:center; padding-top:5%">
                <div>
                    <span><label style="padding-right:2%">Sale Price:</label><label id="SalePrice">$20,000</label></span>
                </div>
                <br />
                <br />
                <div>
                    <span><label style="padding-right:2%">MSRP:</label><label id="msrp">$23,000</label></span>
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <label>Details:</label><label>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <br />
                <div><button id="contactButton" class="btn btn-sm" style="color:black; border: 2px solid black; width:45%;">Contact</button></div>
            </div>
        </div>
    </div>
</div>