@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Inventory</h1>

<div class="container">
    <!--Error messages-->
    <div id="errorMessages"></div>
    @{ 
        Html.RenderPartial("_NewSearchBox");
    }
    <h3>Search Results</h3>
    <!-- Hidden div that recieves search results -->
    <div id="searchDiv" class="hidden"></div>
    <div id="contentTiles">
        @{
            Html.RenderPartial("_NewSearchResult");
        }
    </div>
</div>


